body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto; /* margin: top/bottom left/right */
  padding: 8px;
}

.title {
  font-weight: bold;
}

.slot {
  margin: 8px;
  padding: 8px;
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  width: 368px;
}

.button-container {
  text-align: center;
}

button {
  margin: auto;
  padding: 8px 24px;
  display: block;
  background: white;
  border: 1px solid #eee;
}
